.buttonCard {
    width: 49px;
    height: 49px;
    margin: 11px;
    border-radius: 60%;
    background-color: black;
    color: white;
    border: none;
}
.buttonCard:hover{
    background-color: red;
}

.question {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 10px 100px;
    border: none;
}

.question1 {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 100px;
}